- content_for(:title) do
  = t('scaffold.actions.new', :item => Entry.model_name.human).titlecase

- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item 'Asientos', entries_path
    - breadcrumb.item 'Nuevo', new_exercise_entry_path(@entry.exercise), :active => true

- content_for(:controls) do
  = controls do |control|
    - control.item t('scaffold.actions.back').titlecase, entries_path, :icon => 'application_view_list'

= render 'form'

